files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 443 ssl;
          server_name onlineshopping-dev.eba-ky2j4zcc.ca-central-1.elasticbeanstalk.com;

          ssl_certificate      /etc/letsencrypt/live/onlineshopping-dev.eba-ky2j4zcc.ca-central-1.elasticbeanstalk.com/fullchain.pem;
          ssl_certificate_key  /etc/letsencrypt/live/onlineshopping-dev.eba-ky2j4zcc.ca-central-1.elasticbeanstalk.com/privkey.pem;

          ssl_session_cache shared:SSL:10m;
          ssl_session_timeout 10m;
          ssl_protocols TLSv1.2 TLSv1.3;
          ssl_prefer_server_ciphers on;
          ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384";

          location / {
              proxy_pass http://localhost:8080;
              proxy_set_header Host $host;
              proxy_set_header X-Real-IP $remote_addr;
              proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header X-Forwarded-Proto https;
          }
      }
